<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StayFit Blog</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>StayFit Blog</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('routes.index') }}">Home</a></li>
                <li><a href="{{ url_for('routes.add_post') }}">Add New Post</a></li>
                <li><a href="{{ url_for('routes.about') }}">About</a></li>
                <li><a href="{{ url_for('routes.contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
